body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.general {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: -10px 0 0 -15px;
  width: 100%;
}

header {
  position: fixed;
  color: white;
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  width: 96%;
  margin-left: -3vw;
  margin-top: -8px;
}

.window_card {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin-left: -20px;
  backdrop-filter: blur(3px);
  background-color: rgba(41, 40, 40, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'inter', sans-serif;
}

.card {
  margin-top: 5vh;
  width: 80%;
  height: 90vh;
  background-color: #fff;
  padding: 0 6vw 0 6vw;
  overflow-y: scroll;
}

.title-card {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  width: 90%;
}

.header-card {
  position: relative;
}

.list_tools_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
  margin-bottom: 4vw;
}

.margin {
  margin-right: 2vw;
}

#img-card {
  width: 100%;
  margin-bottom: 2vw;
}

.text-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.description-card {
  width: 100%;
  margin-bottom: 4vw;
}

.live,
.source {
  flex-grow: 1;
  margin-right: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
  max-height: 5vw;
}

.menu-pop {
  background-color: #212121;
  color: #fff5e1;
  height: 100vh;
  width: 100%;
  position: fixed;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
}

.display-on {
  display: block;
}

.display-off {
  display: none;
}

#button-menu-pop,
.btn-menu-pop {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 5vw;
  top: 1vw;
  background: transparent;
  color: #67798e;
  border: none;
  display: flex;
  align-content: center;
}

.btn-menu-pop:hover {
  border: 2px solid #fff5e1;
  border-radius: 5px;
}

.btn-menu-pop:active {
  color: #706c63;
  border: 2px solid #706c63;
  border-radius: 5px;
}

#link-menu-pop {
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 15vw;
  width: 100%;
}

.limit {
  width: 80%;
  margin-top: 1vw;
  margin-bottom: 6vw;
}

.logo a {
  text-decoration: none;
  color: white;
  width: 77px;
  height: 24px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 24px;
}

#link-menu-pop li > a {
  text-decoration: none;
  color: #fff5e1;
  margin-left: 15vw;
  margin-bottom: 1vw;
}

#link-menu-pop li > a:hover {
  color: #bbb3a1;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: #fff;
  width: 100%;
  min-height: 590px;
  justify-content: center;
  padding-top: 100px;
}

.content > * {
  margin: 1rem;
}

.content h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 3.5em;
  line-height: 64px;
  margin-bottom: 0;
}

.content h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 32px;
  height: 27px;
  color: #fff5e1;
  margin-top: 10px;
}

.content p {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.menu img {
  width: 16px;
  height: 16px;
}

.media {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0;
  width: 30vw;
}

.bgimg {
  background-image: url("./Images/Group.png");
  height: 300px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-end;
  margin-right: 2px;
  margin-top: -190px;
}

a img:hover {
  opacity: 0.4;
}

a img:active {
  border: #ff6b00 1px solid;
  opacity: 1;
}

.logo a::after {
  color: #fff5e1;
  opacity: 0.4;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
}

.resent_project {
  background-color: #fff;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 0 10%;
}

.recent_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain_rp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  background-color: white;
}

#placehold {
  max-width: 768px;
}

.title1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1c1a19;
  padding-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: #212121 solid 1px;
  width: 100%;
}

#separator1 {
  max-height: 0;
  border: none;
  width: 0;
  background-color: transparent;
}

#subtitle1 > h5 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

#description1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 0.938em;
  line-height: 24px;
  max-width: 768px;
  margin-top: -7px;
}

#tools1 > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938em;
  line-height: 20px;
}

.media3 {
  width: 45vw;
  list-style: none;
  margin-left: -39px;
}

.button11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.938em;
  line-height: 24px;
  color: white;
}

.button11:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.button11:active {
  color: #f4f1f0;
  background: #e05304;
}

.rest {
  margin-top: 70px;
  background-color: #fff;
  max-width: 768px;
  display: grid;
  grid-template: '10%, 1fr, 13%' '10%, 1fr, 13%' '10%, 1fr, 13%' '10%, 1fr, 13%' '10%, 1fr, 13%' '10%, 1fr, 13%';
  row-gap: 15px;
  padding: 0 24px 0 24px;
  color: #fff;
  gap: 1px;
  padding-bottom: 120px;
}

.pj11 {
  height: 480px;
  background-image: url("./Images/bg_works.png");
  background-size: 100% 380px;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-top: -50px;
}

.desktitbut {
  border: none;
  background-color: transparent;
  color: white;
  text-align: start;
}

.cont_rest {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-items: flex-end;
}

.tproj1 {
  max-width: 768px;
  height: 81px;
  margin-top: 80px;
  margin-bottom: 0;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 44px;
  padding: 0 20px 0 20px;
}

.desproj1 {
  max-width: 768px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  padding: 0 20px 0 20px;
}

.bigbutton1 {
  width: 100%;
  height: 48px;
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.938em;
  line-height: 24px;
  color: white;
  text-align: center;
}

.bigbutton1:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.bigbutton1:active {
  color: #f4f1f0;
  background: #e05304;
}

.cont2,
.cont1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  height: 40px;
  padding: 0 10px 0 10px;
}

.media2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0 20% 0 20px;
  margin-top: 0;
  width: 250px;
}

.about {
  background: #1c1a19;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 0 10% 0 11%;
}

#t_about {
  margin-top: 120px;
  margin-bottom: 0;
  min-width: 100%;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15vw;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0 20px 0 0;
}

#c_about {
  width: 100%;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 24px;
  color: #f4f5f7;
  padding: 1vw 0 1vw 0;
}

#fit_cont {
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#button_about {
  width: 161px;
  height: 48px;
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.938em;
  line-height: 24px;
  color: white;
  text-align: center;
}

#button_about:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

#button_about:active {
  color: #f4f1f0;
  background: #e05304;
}

.bgimg2 {
  background-image: url("./Images/about.png");
  height: 250px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 345px;
  right: 0;
  margin-right: -13%;
}

.div_set {
  margin-left: 24px;
  margin-right: 24px;
  border: solid 1px white;
  margin-bottom: 250px;
}

#more_about {
  margin-top: 10px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laguage {
  height: 320px;
}

.frameworks {
  height: 430px;
}

.skills {
  height: 320px;
}

#more_about > ul {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
}

#style1 {
  list-style-image: url(./Images/bullets/rombo.png);
  list-style-position: outside;
  margin-bottom: 290px;
  margin-top: 0;
  text-align: center;
}

#stile1 li {
  text-align: center;
}

#style2 {
  list-style-image: url(./Images/bullets/square.png);
  list-style-position: outside;
  margin-bottom: 400px;
  margin-top: 0;
}

#style2 li {
  text-align: center;
}

#style3 {
  list-style-image: url(./Images/bullets/circle.png);
  list-style-position: outside;
  margin-bottom: 400px;
  margin-top: 0;
}

#style3 li {
  text-align: center;
}

#more_about ul li ul {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.none {
  list-style: none;
  margin-top: 20px;
}

#list > li {
  margin-top: 20px;
  text-align: center;
}

#form_section {
  background-color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 0 10%;
  max-width: 768px;
}

#nform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#last_header {
  background-color: white;
  width: 100%;
  height: 216px;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-top: 140px;
  margin-bottom: 80px;
}

.bform {
  border-bottom: #dbd8d7 solid 1px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938em;
  line-height: 24px;
  display: flex;
  margin-top: 50px;
  padding-bottom: 10px;
  max-width: 100%;
}

.istyle {
  border: none;
  text-align: start;
  color: #979493;
}

#formMessage {
  min-height: 114px;
  min-width: 96%;
  max-width: 96%;
  background: #fbf8f7;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 12px;
  color: rgb(60, 57, 57);
}

#formButton {
  display: flex;
  margin-bottom: 124px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#error_message {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: rgb(248, 115, 38);
}

#lastBotton {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 24px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
}

#lastBotton:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

#lastBotton:active {
  color: #f4f1f0;
  background: #e05304;
}

#lastBotton:disabled {
  border: none;
  background: #f4f1f0;
  color: #5b5957;
}

#mFooter {
  border-top: 1px #dfe1e6 solid;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  padding-top: 30px;
  padding-top: 0;
}

#mFooter > nav {
  margin-top: 12px;
}

#separator {
  height: 5px;
  width: 134px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: -10px;
  margin-bottom: 8px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
    overflow-x: hidden;
  }

  .window_card {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    margin-left: 20px;
  }

  header {
    color: white;
    background-color: #3c3a39;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    height: 3vw;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3vw 0 3vw;
    align-content: flex-start;
  }

  .header-card {
    width: 100%;
    height: 11rem;
  }

  .title-card {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Crete Round', sans-serif;
    font-size: 32px;
  }

  #close-card {
    right: 0;
    top: 37px;
    margin-bottom: 10px;
  }

  .list_tools_card {
    margin-top: 1vw;
  }

  .cont2 {
    font-size: 15px;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    height: 20px;
    padding: 5px;
  }

  #img-card {
    width: 50vw;
    margin-right: 2vw;
  }

  .text-card {
    width: 28vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .description-card {
    margin-top: 0;
  }

  #menu_desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
    color: #fff;
    width: 25vw;
    margin-right: 10vw;
  }

  #menu_desk a {
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
  }

  #img_mail {
    width: 2vw;
    height: 2vw;
  }

  #menu_desk .mlink::after {
    color: white;
  }

  #logo_link {
    text-decoration: none;
    color: white;
    width: 77px;
    height: 24px;
    font-weight: 700;
    font-size: 2vw;
    line-height: 20px;
    margin-left: 7vw;
  }

  .logo a::after {
    color: #fff5e1;
  }

  .general {
    font-family: 'Inter', sans-serif;
    margin-right: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .content {
    height: 50vw;
    background-color: #1c1a19;
    color: #fff;
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 6.5vw 1vw 43vw 50vw;
    grid-template-rows: 23.2% 9.6% 9.6% 1fr 8.7% 1fr 14.87% 30.35%;
    gap: 0;
    padding: 3vw 0 3vw 0;
  }

  .content h1 {
    color: #f55800;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: 5vw;
    grid-column-start: 3;
    grid-row: 2 / span 2;
    display: flex;
    align-items: flex-end;
  }

  .content h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vw;
    line-height: 3vw;
    color: #fff;
    grid-column-start: 3;
    grid-row-start: 5;
    min-width: 375px;
  }

  .content p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 3vw;
    color: #f4f5f7;
    grid-column-start: 3;
    grid-row-start: 7;
    margin-left: 3%;
    display: inline;
  }

  .cont1 {
    font-size: 1.2vw;
    line-height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
    height: 1.5vw;
    padding: 0.5vw;
  }

  .media {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .content > nav {
    align-items: center;
    grid-column-start: 1;
    grid-row: 4 / span 6;
    margin-top: -40px;
  }

  .bgimg {
    background-image: url("./Images/Illustration.png");
    background-size: 100% 100%;
    width: 50vw;
    height: 65vw;
    background-repeat: no-repeat;
    top: 220px;
    right: 0;
    margin-right: 0;
    grid-column-start: 4;
    grid-row: 1 / span 8;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 0;
    height: 100%;
    margin-left: 0;
  }

  .resent_project {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    background-color: #fff;
    padding: 0;
  }

  .title1 {
    display: flex;
    flex-direction: row;
    font-family: 'Crete Round', serif;
    font-style: normal;
    color: #091e42;
    font-weight: 400;
    font-size: 2vw;
    line-height: 52px;
    border: none;
    align-items: center;
  }

  #tit {
    width: 50vw;
    height: 70px;
    margin-right: 1vw;
    text-align: start;
    margin-left: 8vw;
  }

  #separator1 {
    border: #8d8d8d solid 1px;
    flex-grow: 1;
    height: 0;
    margin-right: 153.5px;
    width: 90vw;
  }

  .recent_content {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
    align-items: flex-start;
  }

  .contain_rp {
    margin-right: 2vw;
    margin-top: 0;
  }

  #placehold {
    width: 48vw;
  }

  #text_resent {
    margin-right: 143px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 6vw;
  }

  #subtitle1 {
    position: static;
    margin-bottom: -20px;
  }

  #subtitle1 > h5 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    color: #091e42;
  }

  #description1 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    font-style: normal;
    font-weight: 400;
    font-size: 1.45vw;
    line-height: 2vw;
    color: #091e42;
    margin-top: 24px;
    width: 35vw;
  }

  #tools1 {
    margin-top: 1vw;
  }

  #tools1 > ul {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 20px;
    margin-right: 1vw;
    width: 20vw;
  }

  #resBut {
    margin-top: 1vw;
  }

  .button11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5vw;
    width: 8vw;
    height: 3vw;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.05vw;
    line-height: 1;
    color: white;
  }

  .rest {
    background-color: #fff;
    min-width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1vw 1fr 1fr 1fr 1vw;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    margin-left: 0;
    padding: 0;
  }

  .desktitbut {
    border: none;
    background-color: transparent;
    color: white;
    text-align: start;
  }

  #n1 {
    grid-column: 2;
    grid-row: 1;
    background-image: url("./Images/i1.png");
    background-size: 31vw 37.5vw;
    background-repeat: no-repeat;
    height: 37.5vw;
    width: 31vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  #n1 h3,
  #n1 p,
  #n1 ul {
    display: none;
  }

  #n2 {
    grid-column: 3;
    grid-row: 1;
    background-image: url("./Images/i2.png");
    background-size: 31vw 37.5vw;
    height: 37.5vw;
    width: 31vw;
    margin-top: 2vw;
  }

  .no_button {
    display: none;
  }

  #n3 {
    grid-column: 4;
    grid-row: 1;
    background-image: url("./Images/i3.png");
    background-size: 31vw 37.5vw;
    height: 37.5vw;
    width: 31vw;
    margin-top: 2vw;
  }

  #n6 .desktop,
  #n3 .desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #n4 {
    grid-column: 2;
    grid-row: 2;
    background-image: url("./Images/bg_works.png");
    background-size: 31vw 37.5vw;
    height: 37.5vw;
    width: 31vw;
    margin-top: 0.5vw;
  }

  #n5 {
    grid-column: 3;
    grid-row: 2;
    background-image: url("./Images/i2.png");
    background-size: 31vw 37.5vw;
    height: 37.5vw;
    width: 31vw;
    margin-top: 0.5vw;
  }

  #n6 {
    grid-column: 4;
    grid-row: 2;
    background-image: url("./Images/i3.png");
    background-size: 31vw 37.5vw;
    height: 37.5vw;
    width: 31vw;
    margin-top: 0.5vw;
  }

  #n1,
  #n2,
  #n3,
  #n4,
  #n5,
  #n6 {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .mobile {
    display: none;
  }

  #h3_2,
  #h3_3,
  #h3_4,
  #h3_5,
  #h3_6 {
    font-size: 3vw;
    line-height: 3vw;
    padding: 0 2vw 0 2vw;
    height: 6vw;
    margin-left: 0.5vw;
  }

  #menu_desk > .desktop,
  #about_desk,
  #h3_2,
  #h3_3,
  #h3_4,
  #h3_5,
  #h3_6,
  #but_desk,
  #div_desk,
  #first_about > .desktop {
    display: block;
    margin-bottom: 0;
  }

  .divisor {
    margin-bottom: 7vw;
    border: none;
  }

  .bigbutton1 {
    font-size: 1.65vw;
    line-height: 1vw;
    color: white;
    text-align: center;
  }

  .desproj1 {
    margin-top: 2vw;
    font-size: 1.2vw;
    line-height: 2vw;
    height: 3.6vw;
    margin-left: 0.5vw;
  }

  .media2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0 0.5vw 0 0.5vw;
    margin-bottom: 2vw;
    margin-top: 3vw;
    width: 18vw;
    margin-left: 2vw;
  }

  .about {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #first_about {
    margin-right: 0;
    margin-left: 12vw;
    width: 48vw;
  }

  #t_about {
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vw;
    color: #f55800;
    margin-bottom: 1vw;
  }

  #c_about {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 2vw;
    max-width: 35vw;
    padding: 0;
    height: 10vw;
  }

  #fit_cont {
    margin-top: 140px;
    width: 100%;
  }

  .desktop #button_about {
    width: 10vw;
    height: 3vw;
    font-size: 0.9vw;
    padding: 0 0.5vw 0 0.5vw;
  }

  #fit_cont .bgimg2,
  #fit_cont #button_about {
    display: none;
  }

  #about_desk {
    background-image: url("./Images/about_desk.png");
    height: 30vw;
    width: 40vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 120px;
  }

  .div_set {
    border: #979493 solid 1px;
    height: 0.5px;
    width: 80%;
    margin-left: 10vw;
  }

  #more_about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 146px;
    margin-left: 2vw;
    height: 100vh;
    padding-bottom: 20vw;
  }

  #more_about > ul {
    width: 30vw;
    height: 2vw;
    font-size: 2vw;
    line-height: 2vw;
  }

  #more_about ul li ul {
    width: 15vw;
    height: 37vw;
    font-size: 2vw;
    line-height: 5vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 0;
  }

  #style1,
  #style2,
  #style3 {
    list-style-position: inside;
  }

  #style1 {
    text-align: start;
  }

  #list > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin-top: 1vw;
  }

  #list {
    margin-left: 5vw;
  }

  #list1 {
    margin-left: 9vw;
  }

  #list1 > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-top: 15px;
  }

  #form_section {
    min-width: 100%;
    margin-left: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #form_title {
    margin-left: 5vw;
    width: 35vw;
    margin-right: 3vw;
  }

  #last_header {
    text-align: start;
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8vw;
    line-height: 3vw;
  }

  #nform {
    max-width: 53vw;
    min-width: 53vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
  }

  .bform {
    line-height: 3vw;
    margin-top: 3.5vw;
    padding-bottom: 10px;
  }

  #name,
  #mail,
  #formMessage {
    color: #0d151e;
    font-size: 1.5vw;
  }

  #name::placeholder,
  #mail::placeholder,
  #text::placeholder {
    color: #5b5957;
  }

  #formButton {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
  }

  #lastBotton {
    font-size: 0.9vw;
    line-height: 1vw;
    margin-right: 1vw;
  }

  #error_message {
    font-size: 1.2vw;
  }

  #mFooter {
    border: none;
    width: 100%;
    border-top: solid gray 1px;
    padding-top: 1.5vw;
  }

  #med_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 2.5vw;
  }

  #im1,
  #im2,
  #im3,
  #im4,
  #im5 {
    width: 3.5vw;
    height: 3.5vm;
  }

  #separator2 {
    border: solid 1px rgb(187, 182, 182);
    bottom: 10vw;
    width: 100%;
  }
}
