body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.general {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: solid purple 2px;
  justify-content: center;
}

header {
  color: white;
  background-color: #3c3a39;
  width: 375px;
  display: flex;
  flex-direction: column;
  border: solid red 2px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  color: white;
  width: 375px;
  height: 590px;
  border: solid blue 2px;
  justify-content: center;
}

section > * {
  margin: 1rem;
}

section h1 {
  font-weight: 530;
  font-size: 56px;
  color: #ff6b00;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  line-height: 60px;
}

section h4 {
  font-weight: 800;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  line-height: 24px;
}

section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.mobile {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu img {
  width: 16px;
  height: 16px;
}
